@model PISS.Models.Doctorate
<div class="panel panel-success">
    <div class="panel-heading">
        @if (this.Model.LeadTeacher != null)
        {
    
            <h4>Your currently selected lead teacher: @this.Model.LeadTeacher.Email </h4>
        }

        <h4>Update your science leader</h4>

    </div>
    <div class="panel-body">
        <form method="post" action='@Url.Action("UpdateLeader", this.Model)' style="width:45%">
            <div>
                @(Html.Kendo().ComboBox()
                .Name("selectedLeaders")
                .DataValueField("UserId")
                .DataTextField("Email")
                .Filter("contains")
                .HtmlAttributes(new { style = "width:250px" })
                .BindTo((List<PISS.Models.UserViewModel>)ViewBag.Teachers)
            )

                    <input type="submit" value="Update" class="k-button" />

            </div>
        </form>
    </div>
</div>
