<h3 class="alert alert-success">
    Registration successful! Please wait for an administrator to approve your registration. <br />
    You will receive an automatic email when your account is activated.
</h3>
