
<h3>Edit users</h3>

@(Html.Kendo().Grid<PISS.Models.UserViewModel>()
  .Name("Grid").Columns(columns =>
    {
        columns.Bound(u => u.Email);
        columns.Bound(u => u.RoleName);
        columns
            .Bound(u => u.IsConfirmed)
            .ClientTemplate("<input type='checkbox' #= IsConfirmed ? checked='checked':'' # class='chkbx' />");
        columns.Command(command => { command.Custom("Activate"); command.Destroy(); });
    })
    .Filterable()
    .Sortable()
    .Pageable()
    .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(20)
            .Model(model => model.Id(u => u.UserId))
            .Read(read => read.Action("GetAll", "Users"))
            .Destroy(update => update.Action("DeleteUser","Users")))
)
