<div class="panel panel-success doc-upload">
    <div class="panel-heading">
        <h2>Upload your assignment:</h2>
    </div>
    <div class="panel-body">
        <form method="post" action='@Url.Action("UploadFiles", this.Model)' style="width:45%">
                @(Html.Kendo().Upload()
            .Name("files").Multiple(false)
        )
                    <input type="submit" value="Submit" class="k-button doc-submit" />
        </form>

        @if (this.Model.АssignmentFile != null)
        {
            <h4>Your uploaded assignments:</h4>
            <a href='@Url.Action("Index", "Download", new { id = this.Model.АssignmentFile.Id })' target = "_blank">@this.Model.АssignmentFile.FileName</a>
        }
    </div>
</div>

