@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="index-home">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Internal Student System</h1>
            </hgroup>
        </div>
    </section>
}

