<h2>All Doctorants:</h2>

@(Html.Kendo().Grid<PISS.Models.Doctorate>()
  .Name("Grid").Columns(columns =>
    {
        columns.Bound(d => d.Doctorant.Email).Title("Doctorant Email");
        columns.Bound(d => d.Doctorant.FirstName).Title("First Name");
        columns.Bound(d => d.Doctorant.LastName).Title("Last Name");
        columns.Template(@<text></text>).ClientTemplate("<a class='k-button k-button-icontext' href='" + Url.Action("Doctorate", "Teacher") + "?doctorantId=#=DoctorantId#'>Details</a>");
    })
    .Filterable()
    .Sortable()
    .Pageable()
    .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(20)
            .Model(model =>
            {
                model.Id(d => d.Id);
            })
            .Read(read => read.Action("GetAllDoctorates", "Teacher")))
)