<h2>All Students:</h2>

@(Html.Kendo().Grid<PISS.Models.GridDiplomaViewModel>()
  .Name("Grid").Columns(columns =>
    {
        columns.Bound(d => d.StudenEmail).Title("Student");
        columns.Bound(d => d.Approved).Title("Assignment Status");
        columns.Bound(d => d.Grade);
        columns.Bound(d => d.GraduationDate);
        columns.Bound(d => d.ReviewerEmail).Title("Reviewer");
        columns.Template(@<text></text>).ClientTemplate("<a class='k-button k-button-icontext' href='" + Url.Action("Diploma", "Teacher") + "?studentId=#=StudentId#'>Details</a>");
    })
    .Filterable()
    .Sortable()
    .Pageable()
    .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(20)
            .Model(model =>
            {
                model.Id(d => d.Id);
            })
            .Read(read => read.Action("GetAll", "Teacher")))
)

