@model PISS.Models.Doctorate
<div class="panel panel-success selected-leader">
    <div class="panel-heading">
       <p> Selected leader: <span>@Model.LeadTeacher.Email</span></p>

        <a href='@Url.Action("Leader")' class="btn btn-sm btn-success">Go back</a>
    </div>
</div>
