<section class="index-administration">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>This is the administration area</h1>
            </hgroup>
        </div>
    </section>